.nav{
    padding-left:35px;
    padding-right:20px;
    height:115px;
    padding-top: 8px;
}
nav:hover{
    border-color: black;
}
.searchBox{
    height:29px;
    width:360px;
background-image:url("Images/Search.png");
background-repeat: no-repeat;
padding-left: 42px;
}

.nav-item{
    padding-right: 25px;
}
.sellButton{
    border-radius: 8px;
    padding-left:5px;
    padding-right: 5px;
    width: 120px;
    font-weight: bold;
background-color:#C6AC96 ;
}

.libasIcon{
    width: 150px;
    height:25px;
}
 
  @media (max-width: 991.5px) {
    .searchBox{
        width:250px;
        padding-top: 10px;
        display: inline-block;
    }
    .nav{
        padding-left: 0px;
        padding-right: 0px;
    }
    .libasIcon{
        width:100px;
        height:18px;
 display: inline-block;
    }
    .displayBlock{
        display: inline-block;
        margin-top: 15px;
    }
   }
.firstDiv{
    background-color: #E5E5E5;
    height:60px;
    padding-top:15px;
    padding-left: 7px;
    
}
.sameLign{
    display: inline-block;
margin-left:85px;
}
@media(max-width:1400px){
    .sameLign{
        display: inline-block;
    margin-left:74px;
}
}
@media(max-width:1300px){
    .sameLign{
        display: inline-block;
    margin-left:62px;
}
}
@media(max-width:1200px){
    .sameLign{
        display: inline-block;
    margin-left:53px;
}
}
@media(max-width:1120px){
    .sameLign{
        display: inline-block;
    margin-left:44px;
}
}
@media(max-width:1042px){
    .sameLign{
        display: inline-block;
    margin-left:36px;
}
.firstDiv{
    margin-top: 30px;
}
}

@media(max-width:970px){
    .sameLign{
        display: inline-block;
    margin-left:28px;
}

}
@media(max-width:900px){
    .sameLign{
        display: inline-block;
    margin-left:23px;
}
}
@media(max-width:852px){
    .sameLign{
        display: inline-block;
    margin-left:18px;
}
}

@media(max-width:810px){
    .sameLign{
        display: inline-block;
    font-size: 14px;
}
}
@media(max-width:740px){
    .sameLign{
        display: inline-block;
    font-size: 13px;
}
}
@media(max-width:705px){
    .sameLign{
        display: inline-block;
    font-size: 12px;
    margin-left: 15px;
}
}
@media(max-width:642px){
    .sameLign{
        display: inline-block;
    font-size: 12px;
    margin-left: 12px;
}
}
@media(max-width:615px){
    .sameLign{
        display: inline-block;
    font-size: 12px;
    margin-left: 7px;
}
}
@media(max-width:570px){
    .sameLign{
        display: inline-block;
    font-size: 12px;
    margin-left: 3px;
}
}
@media(max-width:535px){
    .sameLign{
        display: inline-block;
    font-size: 11px;
    margin-left: 3px;
}
}
@media(max-width:500px){
    .sameLign{
        display: inline-block;
    font-size: 10px;
    margin-left: 0px;
}
}@media(max-width:440px){
    .firstDiv{
        
        padding-left: 0px;
    }
    .sameLign{
        font-size: 9px;
    }
}
@media(max-width:400px){
    .firstDiv{
        
        padding-left: 0px;
    }
    .sameLign{
        font-size: 8px;
    }
}
@media(max-width:365px){
    .sameLign{
        font-size: 7px;
    }
}
@media(max-width:405px){
  
    .searchBox{
        width: 170px;
    }
    .shoppingIcon{
        margin-left: -20px;
    }
}

.mergeCenter{
    justify-content: center;
    align-items: center;
    display: flex;
   font-size:28px;
   
}
.LV{
    color:#C6AC96;
    font-weight: bold;
    font-size: 50px;  
    margin-top:50px;
}

.otherOptions{
    font-weight: bold;color:black;font-size: 40px;margin-top:100px;
}
.innerImage{
    position: absolute;
    top:0;
    left:140px;
}
.share-plane{
position: absolute;
top: 0;
right: 160px;
}
.iconesSpacing{
margin-right: 8px;
}
.item1{height:60px;width: 70px;
    position: absolute; left:15px;top:0;
}
.item2{height:60px;width: 70px;
    position: absolute; left:15px;top:70px;
}
.item3{height:60px;width: 70px;
    position: absolute; left:15px;top:140px;
}
.item4{height:60px;width: 70px;
    position: absolute; left:15px;top:210px;
}
.item5{height:60px;width: 70px;
    position: absolute; left:15px;top:280px;
}
.item6{ height:60px;width: 70px;
    position: absolute; left:15px;top:350px;
}
@media(max-width:995px){
    .innerImage{
        left: 40px;
    }
    .share-plane{
        right:40px
    }
    .smallImages{
        left:0px
    }
}
.alignItems{
    display: inline-block;
}
.smallImages{
    margin-left: 40px;
}
.secondDiv{
background-color:#E2D5CA;
max-width: 550px;
padding-left: 65px;
padding-top:30px;
padding-right:30px ;


}
.inputBox{
    width: 420px;height:70px;border-color: white;margin-top:-15px;
}
.feedBackSection{
background-color: #EAEAEA;
margin-top:25px;
padding-left: 25px;
padding-top:18px;
padding-bottom: 10px;
width:520px;
}
.orderButtons{
    width:350px;
    background-color:#EAEAEA ;
    border-color: #EAEAEA;
    padding-right: 130px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 8px;

    
}
.container1 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .card {
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 230px;
    padding: 25px;
    position: relative;
    
  }
  .card-header img {
    width: 80%;
    height: 170px;
    object-fit: cover;
   margin-left:15px;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   margin-top: -18px;
    min-height: 100px;
  }
 
 .items{
     font-weight: bold;
     font-size: 17px;
     margin-top: 7px;
 }
 .itemsDetails{
     font-size:10px;
     margin-top: -15px;
     color:#959595;
 }
 .price{
     font-size: 10px;
     color:#C6AC96;
     margin-top:-13px;
 }
 .itemLocation{
     font-size:10px;
     color:#959595;
     margin-top:-5px;
     position:relative;
 }
 .brand{
    font-size:13px;margin-left:295px;
 }
 .Model{
    font-size:13px;margin-left:295px;
 }
 .condition{
    font-size:13px;margin-left:275px;
 }
 .color{
    font-size:13px;margin-left:310px;
 }
 .size{
    font-size:13px;margin-left:315px;
 }
 .Dimensions{
   font-size:13px;margin-left:230px;

 }
  .requestButton{
    border-color:white; height:40px;color: black;font-weight: bold;
  }
  .orderButton{
    background-color: black; color: white;width:390px;margin-top: 10px;font-size: 23px;height: 40px;
  }
  .offerButton{
    margin-left: 10px;background-color: #C6AC96;height:40px;width: 170px;border-color:#C6AC96;color: black;font-weight:bold;
  }
  .trustedSeller{
    margin-left:190px;font-size: 13px;color: #C49235;font-weight: normal;position: relative;
  }
  .contactButton{
    margin-left: 280px;
  }
  .qualityControl{
    margin-top:110px;margin-left:60px;
  }
  .arrowOfOrders{
    top:10px;left:310px;position: absolute;
}
.LVBag{
    margin-right:auto;margin-left:auto;display: block;height:400px;width:390px;
}
.commentButton{
    color:black;margin-top:15px;border-color:white;background-color:white;border-radius:7px;width:100px;margin-left: 320px;font-weight: 600;
}
.properties{
    margin-top: 22px;margin-left:60px
}
  @media(max-width:1200px){
      .secondDiv{
          margin-top: 30px;
      }
      .LVBag{
          margin-right: 0;
          margin-left: 0;
      }
      .innerImage{
        position: absolute;
        top:0;
        left:40px;
    }
    .share-plane{
    position: absolute;
    top: 0;
    left: 280px;
    }

    .item1{
        position: absolute; left:-20px;top:390px;
    }
    .item2{
        position: absolute; left:60px;top:390px;
    }
    .item3{
        position: absolute; left:140px;top:390px;
    }
    .item4{
        position: absolute; left:220px;top:390px;
    }
    .item5{
        position: absolute; left:300px;top:390px;
    }
    .item6{
        position: absolute; left:380px;top:390px;
    }
  }
  @media(max-width:555px){
    .item1{width: 45px;height:40px;
        position: absolute; left:0px;top:300px;
    }
    .item2{width: 45px;height:40px;
        position: absolute; left:50px;top:300px;
    }
    .item3{width: 45px;height:40px;
        position: absolute; left:100px;top:300px;
    }
    .item4{width: 45px;height:40px;
        position: absolute; left:150px;top:300px;
    }
    .item5{width: 45px;height:40px;
        position: absolute; left:200px;top:300px;
    }
    .item6{width: 45px;height:40px;
        position: absolute; left:250px;top:300px;
    }
      .qualityControl{
          margin-left: 0;
      }
      .orderButton{
          width: 250px;
      }
      .requestButton{
          font-size: 11px;
          font-weight:700;
      }
      .contactButton{
        margin-left: 40px;
        margin-bottom: 5px;
      }
      .secondDiv{
          padding-left:30px;
      }
      .offerButton{
          font-size: 11px;
          width: 100px;
      }
      .trustedSeller{
          margin-left:50px;
      }
      .orderButtons{
          width:320px;
      }
      .arrowOfOrders {
        top:10px;left:280px;position: absolute;
      }
      .LVBag{
          height: 300px;
          width:300px;
      }
      .innerImage{
        position: absolute;
        top:0;
        left:40px;
    }
    .share-plane{
    position: absolute;
    top: 0;
    left: 180px;
    }
    .feedBackSection{
        width: 350px;
    }
    .inputBox{
width: 280px;
height:60px;
    }
    .commentButton{
        margin-left:180px;
    }
    .otherOptions{
        font-size: 30px;
    }
    .brand{
        font-size:13px;margin-left:195px;
     }
     .Model{
        font-size:13px;margin-left:195px;
     }
     .condition{
        font-size:13px;margin-left:175px;
     }
     .color{
        font-size:13px;margin-left:210px;
     }
     .size{
        font-size:13px;margin-left:215px;
     }
     .Dimensions{
       font-size:13px;margin-left:130px;
    
     }
.properties{
    margin-left: 20px;
}
  }
